@model IEnumerable<Biblioteca_Tomar.Models.ReqLivros>

@{
    ViewData["Title"] = "Index";
}

<h1>Ligações existentes</h1>

<p>
    <a asp-action="Create">Criar uma nova ligação entre uma requisição e um livro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Req)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Req.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Livro.Autor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
