@model Biblioteca_Tomar.Models.Livros

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Livros</h4>
    <hr />
    <div class="float-left">
        <img src="~/Images/@Html.DisplayFor(modelItem => Model.FotoCapa)"
             width="300"
             alt="Fotografia do Livro @Html.DisplayFor(modelItem => Model.Id)"
             title="@Html.DisplayFor(modelItem => Model.Id)" />
    </div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Designacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        </dt>
        <dd class="col-sm-10">
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </dd> 
    </dl>

</div>
