@model Biblioteca_Tomar.Models.Requisicoes

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Requisições</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Requisitante)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Requisitante.Nome)
        </dd>
        <dt></dt>
        <dt class="col-sm-2">
            Funcionário que entregou os livros
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FuncionarioInicioRequisicao.Nome)
        </dd>
        <dt></dt>
        <dt></dt>
        <dt class="col-sm-2">
            Funcionário que recebeu os livros
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FuncionarioFimRequisicao.Nome)
        </dd>
        <dt></dt>
        <dt></dt>
        <dt class="col-sm-2">
            Data da requisição
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt></dt>
        <dt class="col-sm-2">
            Data da devolução
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataDevol)
        </dd>
        <dt></dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Multa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Multa)
        </dd>
        @*@foreach () { 
        }*@

    </dl>
</div>
<div>
    <a asp-area="" asp-controller="ReqLivros" asp-action="Create" >Adicionar Livro</a>|
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Voltar</a>
</div>
